@import "https://cdn-static.postach.io/libs/bootstrap/css/bootstrap.min.css";
@import "https://cdn-static.postach.io/libs/bootstrap/css/bootstrap-responsive.min.css";
@import "https://cdn-static.postach.io/libs/fontawesome/css/font-awesome.min.css";
@font-face {
    font-family: open sans;
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype')
}

@font-face {
    font-family: open sans;
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype')
}

@font-face {
    font-family: open sans;
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype')
}

@font-face {
    font-family: open sans;
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype')
}

.post-content code,
.post-content pre {
    padding: 2px 4px;
    padding: .125rem 4px;
    padding: 2px .25rem;
    padding: .125rem .25rem;
    display: inline-block;
    font-family: Monaco, Menlo, Consolas, courier new, monospace;
    border: none;
    color: #d14;
    background-color: #f7f7f9;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height: 180%
}

.post-content code div,
.post-content pre div {
    padding: 0!important;
    display: inline-block
}

body {
    font-family: open sans, helvetica, sans-serif
}
